* {
    box-sizing: border-box;
}

body {
    @include flex($disp, $just: center, $align: center);
    height: 100vh;
    position: relative;
    background-image: url('b-day.jpg');
    background-color: $overlay;
    background-blend-mode: overlay;
}
